<span id="whatsnew" (click)="whatsNew()">What's New</span>
<div *ngIf="whatsNewVisible"
  class="alert"><span class="alertClose" (click)="closeWhatsNew()">X</span>{{whatsNewContent}}</div>
<h1>Let's have a Standup</h1>
<img class="logoImage" [src]="imageSource"/>
<div *ngIf="!standupStarted">
  <p>Currently there's {{names.length}} participant<span
    *ngIf="names.length === 0 || names.length > 1">s</span> in the
    standup<br/>
  <ul>
    <li *ngFor="let name of names; index as i">
      <button (click)="removeName(i)" class="button">X</button>{{name}}
    </li>
  </ul>
  <div *ngIf="names.length !== 0">
    To delete a member, press the 'X'
  </div>
  To add a member, just enter his or hers name and press the <span class="addNamebuttonRef">'Add
  Member'</span>
  button
  <p>
    <input type="text" class="input" [(ngModel)]="currName" id="nameInput"/>
    <button (click)="addName()" class="button" >Add Member</button>
  </p>
</div>

<div *ngIf="!standupStarted">
  Time for each team member: <input type="number" [(ngModel)]="speakerTime" size="5" class="input"/>
</div>

<div *ngIf="names != null && names.length > 0 && !standupStarted">
  <button (click)="startStandup()" class="button">Start Standup</button>
</div>

<div *ngIf="standupStarted && !standupFinished">
  <h1>{{currentSpeaker}}</h1> {{speakingMinutes}} minutes, {{speakingSeconds}}
  seconds left<br/>
  <button (click)="nextSpeaker()" class="button">Next</button>
</div>

<div *ngIf="standupFinished">
  <h1>Standup Finished</h1>
  Standup took {{totalMinutes}} minutes and {{totalSeconds}} seconds
  <p (click)="backToStart()" id="backToStart">Back to start page</p>
</div>

<div *ngIf="timeExceeded">
  <h1>You have exceeded your time! Please shut up</h1>
</div>
